%h1 Listing animes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @animes.each do |anime|
      %tr
        %td= link_to 'Show', anime
        %td= link_to 'Edit', edit_anime_path(anime)
        %td= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Anime', new_anime_path
